.sections {
    text-align: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
}

.sections:hover {
    background-color: #ccc;
}

.payout {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.booked-tours {
    background-color: white;
    height: 300px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.booked-tours h2 {
    text-align: center;
    padding-top: 10px;
}

.booked-tours-table {
    justify-content: center;
    align-content: center;
    width: 100%;
}

.booked-tours-data td {
    color: #ccc;
}

.cancel-refund {
    margin-top: 20px;
}

th, td {
    text-align: left;
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.add-tour, .preview-tour {
    background-color: white;
    height: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.add-tour h2, .preview-tour h2 {
    text-align: center;
    padding-top: 10px;
}

.form-btn {
    margin-bottom: 100px;
}

.image {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30%;
}

.price {
    text-align: center;
}

.ad-price {
    font-size: 30px;
    color: rgb(19, 189, 19);
}

.per-price {
    font-size: 14px;
}

.book-now {
    background-color: rgb(19, 189, 19);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    
}

a.book-now:hover {
    background-color: rgb(14, 153, 14);
    text-decoration-line: none;
}