
.dashboard-div {
    background-color: #E8EAED;
    opacity: 0.93;
    /* background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png"); */
    box-shadow: inset 0 2.5px 4.5px 0 rgba(0,0,0,0.25);
}

.sections, .booked-tours, .booked-tours, .add-tour, .preview-tour {
    border-radius: 3px;
   
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08); */
            
            /* box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08); */
            box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.06);
            box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
        background-color: white;
    /* background: rgb(229,238,255);
background: radial-gradient(circle, rgba(229,238,255,0.9) 0%, rgba(232,234,237,0.9) 100%); */


/* background: rgb(229,238,255);
background: linear-gradient(353deg, rgba(229,238,255,0.8) 0%, rgba(232,234,237,0.8) 100%); */

/* background: rgb(129,0,110);
background: linear-gradient(353deg, rgba(129,0,110,0.5) 0%, rgba(242,92,92,0.8) 100%); */
/* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(32,66,96,0.7) 100%, rgba(0,0,0,0.7) 100%); */

overflow: auto;

}

.sections {
    text-align: center;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 67px;
    margin-right: -10px;
    margin-top: -11px;
    
}

.sections:hover {
    background-color: #ccc;
}

.payout {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.booked-tours {
    
    height: 300px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

/* .booked-tours h2 {
    text-align: center;
    padding-top: 10px;
} */

.booked-tours-table {
    justify-content: center;
    align-content: center;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    
}

.booked-tours th {
    font-size: 23px;
    /* color: #F25C5C; */
    color: rgb(0,159,167, 1);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.booked-tours-data td {
    /* color: #ccc; */
    color: #667172;
    font-weight: 300;
}

.cancel-refund {
    margin-top: 20px;
}

th, td {
    text-align: left;
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.add-tour, .preview-tour {
    border-radius: 3px 3px 3px 3px;
    /* height: auto; */
    height: 690px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -10px;
    
}

.add-tour{
    padding-left: 30px;
    padding-right: 30px;
    
}

.preview-tour{
    width:99.9%;
    position: relative;
    left: 0.3%;
    margin-bottom: 75px;
    overflow: auto;
}

.add-tour h2, .preview-tour h2 {
    text-align: center;
    padding-top: 10px;
    
}

.form-btn {
    margin-bottom: 100px;
}

.image {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30%;
}

.price {
    text-align: center;
}

.ad-price {
    font-size: 30px;
    color: rgb(19, 189, 19);
}

.per-price {
    font-size: 14px;
}

.book-now {
    /* background-color: rgb(19, 189, 19); */
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    
}

a.book-now:hover {
    /* background-color: rgb(14, 153, 14); */
    text-decoration-line: none;
}


.tour-description-form-dashboard{
    border-radius: 8px;
    width: 100%;
    height: 210px;
    border-color:#ccc;
}

.dashboard-h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #FF6161;
    padding: 29px;
    letter-spacing: 2.5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
   
   
}


.dashboard-h2 {
    border-radius: 3px !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300 !important;
    color: #3fbdc4;
    /* 3fbdc4 00A99D */
    padding: 7px;
    padding-bottom: -15px;
    padding-top: 15px;
    font-size: 34px;
    letter-spacing: 2.2px;
    text-shadow: 0.3px 0.3px 0px rgba(255, 255, 255, 0.6);
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.53) 0%, rgba(32,66,96,0.53) 100%, rgba(0,0,0,0.53) 100%);
    
    
    /* #f5f6fa   rgb(237, 243, 255, 0.7) 
    
    background: rgb(129,0,110);
background: linear-gradient(353deg, rgba(129,0,110,0.2) 0%, rgba(242,92,92,0.2) 100%);
    
    
*/


/* background: rgb(229,238,255);
background: linear-gradient(353deg, rgba(229,238,255,0.8) 0%, rgba(232,234,237,0.8) 100%); */

/* background: rgb(129,0,110);
background: linear-gradient(353deg, rgba(129,0,110,0.5) 0%, rgba(242,92,92,0.8) 100%); */
/* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(32,66,96,0.7) 100%, rgba(0,0,0,0.7) 100%); */


    width: 116%;
    position: relative;
    left: -8%;
    margin-bottom: 2%;
    text-align: center;
    
}

/* .h2-panel {
    background-color: #F5F6FA;
    width: 104%;
} */

.dashboard-h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #192B4C;
}

.save-tour-btn, .btn-block{
   
background-color: #FF8787 !important;
border: none;
cursor: pointer;

}

.btn-success {
    background-color: #FF6161 !important;

}


.add-tour h2 {
 margin-bottom: 20px;
 
}