.form-btn {
    margin-bottom: 100px;
}

.image {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30%;
}

.price {
    text-align: center;
}

.ad-price {
    font-size: 30px;
    color: rgb(19, 189, 19);
}

.per-price {
    font-size: 14px;
}

.book-now {
    background-color: rgb(19, 189, 19);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    
}

a.book-now:hover {
    background-color: rgb(14, 153, 14);
    text-decoration-line: none;
}