.navbar-inverse {
  /* background-color: #ff5e0e; */
  background-color: transparent;
  width: 100%;
  border: 0;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

li {
  list-style-type: none;
}

.nav-item {
  font-size: 16px;
}