.navbar-inverse {
  /* background-color: #ff5e0e; */
  background-color: transparent;
  width: 100%;
  border: 0;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

li {
  list-style-type: none;
}

#main-logo {
  height: 30px;
  position: relative;
  top: -5px;


}

#available-tours {
  position: relative;
  left: -20px;
}

.nav-link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

#main-modal {
  height: 25px;
  padding-right: 10px;
  pointer: cursor;
}