

.list-overflow-container {
  max-height: 575px;
  border: 0.1px #DDDDDD solid;
  border-radius: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  opacity: 0.9;
  
  

}

.list-overflow-container ul {
  margin: 0;
  background-color: rgb(50, 54, 66, 0.1) !important;
  
}

.list-overflow-container li {
  border-radius: 8px;
  border-left: none;
  border-right: none;
  background-color: rgb(50, 54, 66, 0.9);
  padding: 50px;

}

.list-overflow-container li * {
  cursor: pointer;
  
}

.list-overflow-container li a {
  /* color: blue; */
}

.list-overflow-container li:first-child {
  border-top: none;
  
}

/* .list-overflow-container li:nth-child(odd) {
 
  padding: 10px;
} */

.list-overflow-container li:last-child {
  border-bottom: none;
}

.listItem {
  /* border: red; */
  
}


