.footer {
    /* background-color: #F7931E; */
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: right;
    opacity: 0.7;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 12px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.footer a {
    color:white;
}