.search-all {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  margin-top: 10%;
}

.search-bar { 
  align-content: center;
  /* min-width: 50%; */
  margin: auto;
  opacity: 0.85;
}

.search-bar h2 {
  color: white;
  text-align: center;
}

.search {
  width: 80%;
  min-width: 80%;
  height: 40px;
  padding-left: 18px;
  /* border-top-left-radius: 25px; */
  border-bottom-left-radius: 25px;
  border: 1px solid gray;
  /* border: 0; */
  height: 50px;
  /* border-bottom: 1px solid #ccc;
  border-top: 1px solid lightgray; */
  outline:none;
}

.fa-search {
  color: white;
}

.submit {
  width: 20%;
  min-width: 20%;
  height: 40px;
  /* border-top-right-radius: 25px; */
  border-bottom-right-radius: 25px;
  color: white;
  /* background-color: #3E609C; */
  background-color: rgb(251, 135, 58);
  border-color: transparent;
  border: 1px solid gray;
  height: 50px;
  padding: 1px;
  outline:none;
}

.submit:hover {
  outline:none;
  opacity: 1;
  background-color: green;
}

.search-bar h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 46px;
  /* color: purple; */
  color: white;
}

