.search-all {
  padding-top: 30px;
  width: 100%;
  height: 200px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin-top: 13%;
  font-size: 24px;
  color: #333;
  /* background-color: rgb(255, 97, 97, 0.8); */
}

.search-bar { 
  align-content: center;
  /* min-width: 50%; */
  margin: auto;
  opacity: 0.85;
  position: relative;
  right: -20px;
}

.search-bar h2 {
  color: rgb(77, 77, 77, 0.3);
  text-align: center;
}

.search {
  width: 70%;
  min-width: 80%;
  
  padding-left: 18px;
  border-radius: 5px;
  /* border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
  border: 0.1px solid gray;
  /* border: 0; */
  height: 64.5px;
  /* border-bottom: 1px solid #ccc;
  border-top: 1px solid lightgray; */
  outline:none;
  margin-right: 4px;
}

.search::placeholder {
  color: black; 
/* vertical-align: center; */
  font-size: 24px;
  
}

input.main-search [type=text]{
  color: black; 
/* vertical-align: center; */
  font-size: 55px;
}

.fa-search {
  color: white;
}


.main-tagline {
  position: relative;
  left: -25px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
             0px 4px 9px rgba(0,0,0,0.1),
             0px 4px 9px rgba(0,0,0,0.1);
}

.submit {
  width: 16%;
  min-width: 15%;
  border-radius: 5px;
  /* border-top-right-radius: 25px; */
  /* border-bottom-right-radius: 25px; */
  color: white;
  /* background-color: #3E609C; */
  background-color: rgb(251, 135, 58);
  border-color: transparent;
  border: 0.1px solid gray;
  height: 66px;
  padding: 1px;
  outline:none;

  cursor: pointer;
}

.submit:hover {
  outline:none;
  opacity: 1;
  background-color: #FF530D;
}

.search-bar h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 60px;
  /* color: purple; */
  color: white;
}

