.search-all {
  width: 100%;
  
  margin-top: 10%;
}

.search-bar { 
  align-content: center;
  min-width: 50%;
  margin: auto;
}

.search-bar h2 {
  color: white;
  text-align: center;
}

.search {
  width: 80%;
  min-width: 80%;
  /* height: 100%; */
  padding-left: 18px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0px;
}

.submit {
  width: 20%;
  min-width: 20%;
  /* height: 100%; */
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  background-color: rgb(6,101,217);
  border-color: transparent;
}